*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    padding-bottom: 50px;
}

.container{
    max-width:1200px;
    height:100%;
}

hr {
    border: none;
    height: 2px;
    color: #89C0DA;
    background-color: #89C0DA;
}

img {
    transition: width 0.5s;
}

.row {
    padding:0;
}

.featuredWork {
    margin-left: 15px;
}
.imgcontainer p{
    padding:0;
    max-width:100%;
    overflow: hidden;

}

.imgcontainer img {
    max-width: 100%;
}

.logo{
    width:100px;
    padding: 0;
    margin-top:15px;
    margin-bottom: 0px;
}

.hero{
    width: 100%;
}

.headerspace{
    margin-bottom: -10px;
}

h1{
    font-size: 3em;
    color: #F4A39A;
    font-family: 'Anton', sans-serif;
}

h2{
    font-size: 1em;
    color: #F4A39A;
    line-height: 0em;
    font-family: 'Playfair Display', serif;

}
h3{
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    color: #F4A39A;
}

h4{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    color: #F4A39A;
}

p{
    font-size: 1em;
    color: #a9a9a9;
}

@media (max-width: 480px){
    p{
        font-size:.6em;
    }
}

@media (min-width: 481px) and (max-width: 992px){
    p{
        font-size:.8em;
    }
}